<div class="container mt-4 mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-house"></i><span>Trang chủ</span></a></li>
      <li class="breadcrumb-item"><a href="/class-student">Học Sinh Lớp...</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
    </ol>
  </nav>

  <div class="d-flex justify-content-between mt-50 mb-30">
    <div class="w-50">
      <form class="d-flex nav-search-form me-3">
        <i class="fa fa-search nav-fa-search"></i>
        <input class="form-control me-2 nav-search-input" type="search" placeholder="Tìm kiếm" aria-label="Search">
      </form>
    </div>
    <div class="button-container">
      <button class="btn btn-outline-dark"><i class="fas fa-download"></i><span class="ps-2">Xuất excel</span></button>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-plus"></i><span class="ps-2">Thêm mới</span>
      </button>
    </div>
  </div>

  <div class="container mt-4 p-0">
    <div class="card">
      <div class="card-header" style="background-color: #fff;">
        <h5 class="m-2">Danh sách học sinh lớp...</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-bordered mb-0">
          <thead class="table-secondary table-borderless">
            <tr>
              <th>STT</th>
              <th>ID học sinh lớp...</th>
              <th>Tên lớp</th>
              <th>Tên học sinh</th>
              <th>Mã học sinh</th>
              <th>ID Lớp</th>
              <th>ID học sinh</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classStudent of classStudents; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ classStudent.Class_StudentID }}</td>
              <td>{{ classStudent.className }}</td>
              <td>{{ classStudent.StudentName }}</td>
              <td>{{ classStudent.StudentCode }}</td>
              <td>{{ classStudent.ClassID }}</td>
              <td>{{ classStudent.StudentID }}</td>
              <td>
                <i class="fas fa-eye icon"></i>
                <i class="fas fa-pencil icon"></i>
                <i class="fas fa-trash icon"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center bg-white border-top-0">
        <div>Trang 1 của 10</div>
        <nav aria-label="...">
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item active" aria-current="page">
              <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
