<footer class="d-flex flex-wrap fixed-bottom justify-content-between align-items-center bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex footer-text">
        <span class="mb-3 mb-md-0 text-body-secondary" style="padding:8px;">© 2024 Company, Inc</span>
      </div>
      <ul class="nav col-md-6 justify-content-end list-unstyled d-flex footer-icon">
        <li class="ms-3"><a href="https://www.twitter.com" target="_blank" class="social-icon" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        </li>
        <li class="ms-3"><a href="https://www.linkedin.com" target="_blank" class="social-icon" title="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
        </li>
        <li class="ms-3"><a href="https://www.facebook.com" target="_blank" class="social-icon" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        </li>
        <li class="ms-3">
          <a href="https://github.com" target="_blank" class="social-icon" title="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
