<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/class">Class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/question">Question</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <form class="d-flex nav-search-form me-3">
        <i class="fa fa-search nav-fa-search"></i>
        <input class="form-control me-2 nav-search-input" type="search"
          placeholder="Tìm kiếm" aria-label="Search">
      </form>

      <!-- Settings -->
      <div class="dropdown me-3">
        <a
          class="link-secondary"
          href="#"
          id="navbarDropdownMenuSetting"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-cog nav-fas"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuSetting">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <!-- Notifications -->
      <div class="dropdown me-3">
        <a
          class="link-secondary"
          href="#"
          id="navbarDropdownMenuNotification"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-bell nav-fas"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuNotification">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle nav-img"
            height="25"
            alt="Avatar"
            loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar">
          <li><a class="dropdown-item" href="#">My profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->
