.nav-search-form{
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
}

i.nav-fa-search{
  position:absolute;
  top:10px;
  left:10px;
  color:gray;
}

input.nav-search-input{
  text-indent: 20px;
}

.nav-fas{
  padding:8px;
}

