<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student">Học sinh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/class">Lớp học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test">Bài kiểm tra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exam">Kỳ thi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/class-student">Học sinh của lớp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/question-type">Loại câu hỏi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/question">Câu hỏi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subject">Môn học</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <form class="d-flex nav-search-form me-3">
        <i class="fa fa-search nav-fa-search"></i>
        <input class="form-control me-2 nav-search-input" type="search"
          placeholder="Tìm kiếm" aria-label="Search">
      </form>

      <!-- Settings -->
      <div class="dropdown me-3">
        <a
          class="link-secondary"
          href="#"
          id="navbarDropdownMenuSetting"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-cog nav-fas"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuSetting">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <!-- Notifications -->
      <div class="dropdown me-3">
        <a
          class="link-secondary"
          href="#"
          id="navbarDropdownMenuNotification"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-bell nav-fas"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuNotification">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <!-- If logged in, show user avatar and name -->
      <div *ngIf="getAuth(); else loginTemplate">
        <div class="dropdown">
          <a
            class="d-flex align-items-center"
            id="navbarDropdownMenuAvatar"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle nav-img"
              height="25"
              alt="Avatar"
              loading="lazy" />
          </a>
          <!-- Dropdown Menu -->
          <div class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
            style="margin-top: 20px; border-radius: 0;">
            <a class="dropdown-item" href="#" (click)="logout()">Đăng xuất</a>
          </div>
        </div>
      </div>

      <!-- If not logged in, show Login button -->
      <ng-template #loginTemplate>
        <a class="text-muted text-decoration-none" href="/login">Đăng nhập</a>
      </ng-template>

    </div>
  </div>
</nav>
<!-- Navbar -->
