<div class="container mt-4 mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i
            class="fas fa-house"></i><span>Trang chủ</span></a></li>
      <li class="breadcrumb-item"><a href="/question-type">loại câu hỏi</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
    </ol>
  </nav>

  <div class="d-flex justify-content-between mt-50 mb-30">
    <div class="w-50">
      <form class="d-flex nav-search-form me-3">
        <i class="fa fa-search nav-fa-search"></i>
        <input
          class="form-control me-2 nav-search-input"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
          (keyup)="onSearch($event)">
      </form>
    </div>
    <div class="button-container">
      <button class="btn btn-outline-dark" (click)="exportExcel()">
        <i class="fas fa-download"></i><span class="ps-2">Xuất excel</span>
      </button>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <i class="fas fa-plus"></i><span class="ps-2">Thêm mới</span>
      </button>
    </div>
  </div>

  <div class="container mt-4 p-0">
    <div class="card">
      <div class="card-header" style="background-color: #fff;">
        <h5 class="m-2">Danh sách loại câu hỏi</h5>
      </div>
      <div class="card-body p-0">
        <div class="d-flex justify-content-between align-items-center p-3">
          <!-- Dropdown to select rows per page -->
          <div>
            <label for="rowsPerPage" class="form-label me-2">Hiển thị:</label>
            <select id="rowsPerPage" class="form-select form-select-sm w-auto"
              (change)="onRowsPerPageChange($event)">
              <option value="5" selected>5 dòng</option>
              <option value="10">10 dòng</option>
              <option value="15">15 dòng</option>
              <option value="20">20 dòng</option>
            </select>
          </div>
        </div>
        <table class="table table-bordered mb-0">
          <thead class="table-secondary table-borderless">
            <tr>
              <th>STT</th>
              <th>ID loại câu hỏi</th>
              <th>Mã loại câu hỏi</th>
              <th>Tên loại câu hỏi</th>
              <th>Ngày tạo</th>
              <th>Ngày cập nhật</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let questiontype of paginatedQuestionType; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ questiontype.questionTypeID }}</td>
              <td>{{ questiontype.questionTypeCode }}</td>
              <td>{{ questiontype.questionTypeName }}</td>
              <td>{{questiontype.createDate | date: 'HH:mm:ss dd/MM/yyyy'}}</td>
              <td>{{questiontype.updateDate | date: 'HH:mm:ss dd/MM/yyyy'}}</td>
              <td>
                <i
                  class="fas fa-pencil icon"
                  title="Chỉnh sửa"
                  (click)="onEdit(questiontype.questionTypeID)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"></i>

                <i
                  class="fas fa-trash-alt icon"
                  title="Xóa"
                  (click)="deleteQuestionType(questiontype.questionTypeID)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="card-footer d-flex justify-content-between align-items-center bg-white border-top-0">
        <div>Trang {{ currentPage }} của {{ totalPages }}</div>
        <nav aria-label="Pagination">
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link"
                (click)="onPageChange(currentPage - 1)">Trước</a>
            </li>
            <li class="page-item" *ngFor="let page of pages"
              [class.active]="page === currentPage">
              <a class="page-link" (click)="onPageChange(page)">{{ page
                }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link"
                (click)="onPageChange(currentPage + 1)">Sau</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
