<div class="container mt-4 mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-house"></i><span>Trang chủ</span></a></li>
      <li class="breadcrumb-item"><a href="/student">Student</a></li>
      <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
    </ol>
  </nav>

  <div class="d-flex justify-content-between mt-50 mb-30">
    <div class="w-50">
      <form class="d-flex nav-search-form me-3">
        <i class="fa fa-search nav-fa-search"></i>
        <input
          class="form-control me-2 nav-search-input"
          type="search"
          placeholder="Tìm kiếm"
          [(ngModel)]="searchKeyword"
          (input)="filterStudents()"
          aria-label="Search"
          name="searchKeyword"
        />
      </form>
    </div>
    <div class="button-container">
      <button class="btn btn-outline-dark" (click)="exportToExcel()"><i class="fas fa-download" ></i><span class="ps-2">Xuất excel</span></button>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <i class="fas fa-plus"></i><span class="ps-2">Thêm mới</span>
      </button>
    </div>
  </div>

  <div class="container mt-4 p-0">
    <!-- <div *ngIf="alertService.alertMessage" class="alert alert-{{ alertService.alertType }} alert-dismissible fade show" role="alert">
      {{ alertService.alertMessage }}
      <button type="button" class="btn-close" aria-label="Close" (click)="alertService.alertMessage = ''"></button>
    </div> -->

    <div class="card">
      <div class="card-header" style="background-color: #fff;">
        <h5 class="m-2">Danh sách sinh viên</h5>
      </div>
      <div class="card-body p-0">
        <div style="overflow-x:auto;">
          <table class="table table-bordered mb-0">
            <thead class="table-secondary table-borderless">
              <tr>
                <th>STT</th>
                <th>Mã SV</th>
                <th>Tên SV</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Ngày sinh</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of filteredStudents; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ student.studentCode }}</td>
                <td>{{ student.studentName }}</td>
                <td>{{ student.gender ? 'Nữ' : 'Nam' }}</td>
                <td>{{ student.numberPhone }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.birthdayDate | date: 'dd/MM/yyyy' }}</td>
                <td style="display: flex; justify-content: space-around; cursor: pointer;">
                  <i
                    (click)="onEdit(student.studentID)"
                    class="fas fa-pencil icon"
                    style="cursor: pointer; margin-right: 10px;"
                  ></i>
                  <i class="fas fa-trash icon" (click)="deleteStudent(student.studentID)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer"
        style="display: flex; justify-content: space-between; align-items: center; background-color: white; border-top: 0px;">
        <div>
          
        </div>
        <div>
          <nav aria-label="...">
            <ul class="pagination pagination-sm mb-0">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="">2</a></li>
              <li class="page-item"><a class="page-link" href="">3</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
